#application {
    overflow: hidden;
    font-family: "Swanky and Moo Moo"
}

a, a:visited, a:active, a:hover {
    color: black;
    text-decoration: none
}

h1 {
    text-align: center;
}

#board {
}

.board {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: url('../images/tic-tac-toe-board.jpg') center center no-repeat;
    background-size: 94% 125%;
}

.board td {
    position: relative;
    vertical-align: top;
}

.board td a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 9em;
    line-height: 80%;
}

.board td div {
    position: relative;
    width: 100%;
    height: 100%;
}


.board td div.crossed {
}


.board td .cell.winning- {
    color: black;
}

.board td .cell.winning-true a {
    color: red;
}

* {
     -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media screen and (min-width: 480px) {
    .board {
        width: 400px;
        height: 400px;
        background-size: 102% 125%;
    }

    .board td a {
        font-size: 12em;
    }

}